<footer class="site-footer">
  <img src="/path-to-your-logo/logo.png" alt="Logo" class="logo" width="5rem" />
  <h1 class="logo-text" style="margin-left: 1rem; font-size: 0.8rem; font-weight: 700;">Fha Share</h1>
  <p>© {% year %} Fhaungfha Suvannakajorn. All rights reserved.</p>
</footer>