<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <img src="src/assets/Fha-Share-logo.png" alt="Logo" class="logo" width="10rem" />
      </div>
      <nav>

        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/portfolio/">Work</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>