<header class="page-header">
  <div class="container">
    <div class="page-header__content">
          <img src="/assets/Fha-Share-logo.png" alt="Fha Share Logo" class="header-logo"/>
      <nav>

        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/portfolio/">Work</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>