<header class="page-header">
  <div class="container">
    <div class="page-header__content">
      <div>
        <img src="/path-to-your-logo/logo.png" alt="Logo" class="logo" width="10rem" />
        <h1 class="logo-text" style="margin-left: 1rem; font-size: 1.5rem; font-weight: 700;">Fha Share</h1>
      </div>
      <nav>

        <ul role="list" class="nav-list flex-group">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/portfolio/">Work</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>